@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/open-sans-condensed-light.woff2") format("woff2"), url("../fonts/open-sans-cond-light-webfont.woff") format("woff"), url("../fonts/open-sans-cond-light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font-family: 'PT Sans', sans-serif;
  line-height: 22px;
  font-size: 14px;
  color: #767676; }

h1, h2, p, ul {
  margin: 0;
  padding: 0; }

.global-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .global-wrapper .header-container-logo {
    background-color: #dcdcdc; }
    .global-wrapper .header-container-logo .header-wrapper-logo {
      min-width: 980px;
      max-width: 980px;
      margin: 0 auto;
      padding: 0 10px; }
      .global-wrapper .header-container-logo .header-wrapper-logo .header-wrapper-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 65px 0; }
        .global-wrapper .header-container-logo .header-wrapper-logo .header-wrapper-items .header-logo img {
          width: 273px;
          height: 100px; }
        .global-wrapper .header-container-logo .header-wrapper-logo .header-wrapper-items .header-phone p {
          margin: 0;
          font-family: "Open Sans Condensed", sans-serif;
          color: #767676;
          font-size: 40px;
          line-height: 46px;
          letter-spacing: 1px; }
        .global-wrapper .header-container-logo .header-wrapper-logo .header-wrapper-items .header-phone .header-feedback {
          text-align: right; }
          .global-wrapper .header-container-logo .header-wrapper-logo .header-wrapper-items .header-phone .header-feedback a {
            font-family: "PT Sans", sans-serif;
            color: #767676;
            font-size: 24px;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: 0.6px;
            text-decoration: none;
            border-bottom: 1px dashed #767676; }
    .global-wrapper .header-container-logo .header-container-nav {
      background-color: #767676; }
      .global-wrapper .header-container-logo .header-container-nav .header-wrapper-nav {
        margin: 0 auto; }
        .global-wrapper .header-container-logo .header-container-nav .header-wrapper-nav ul {
          min-width: 980px;
          max-width: 980px;
          margin: 0 auto;
          padding: 26px 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
        .global-wrapper .header-container-logo .header-container-nav .header-wrapper-nav ul li {
          padding-top: 0;
          padding-left: 20px;
          padding-right: 18px;
          list-style: none;
          border-right: 2px solid #ffffff; }
        .global-wrapper .header-container-logo .header-container-nav .header-wrapper-nav ul li:first-child {
          padding-left: 0; }
        .global-wrapper .header-container-logo .header-container-nav .header-wrapper-nav ul li:last-child {
          padding-right: 0;
          border-right: none; }
        .global-wrapper .header-container-logo .header-container-nav .header-wrapper-nav ul li a {
          text-decoration: none;
          color: #ffffff;
          font-size: 30px;
          letter-spacing: 0.75px; }
        .global-wrapper .header-container-logo .header-container-nav .header-wrapper-nav ul li a:hover {
          text-decoration: underline; }
  .global-wrapper .main-content {
    min-width: 980px;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px; }
    .global-wrapper .main-content .breadcrumbs-wrapper {
      margin: 10px auto 27px; }
      .global-wrapper .main-content .breadcrumbs-wrapper .breadcrumb {
        color: #767676; }
        .global-wrapper .main-content .breadcrumbs-wrapper .breadcrumb .breadcrumbs .active a {
          text-decoration: none; }
      .global-wrapper .main-content .breadcrumbs-wrapper .breadcrumb a:link,
      .global-wrapper .main-content .breadcrumbs-wrapper .breadcrumb a:visited {
        color: #767676;
        line-height: 18px; }
    .global-wrapper .main-content .main-content-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 200px; }
      .global-wrapper .main-content .main-content-wrapper .main-content-nav a {
        font-size: 18px;
        line-height: 30px;
        color: #767676;
        text-decoration: none; }
      .global-wrapper .main-content .main-content-wrapper .main-content-nav a:visited {
        color: #767676; }
      .global-wrapper .main-content .main-content-wrapper .main-content-nav ul {
        list-style-type: none;
        width: 170px; }
      .global-wrapper .main-content .main-content-wrapper .main-content-nav .main-content-nav-item {
        font-size: 18px;
        line-height: 30px; }
        .global-wrapper .main-content .main-content-wrapper .main-content-nav .main-content-nav-item .main-content-nav-subitems {
          margin-left: 20px; }
          .global-wrapper .main-content .main-content-wrapper .main-content-nav .main-content-nav-item .main-content-nav-subitems .main-content-nav-subitem {
            font-size: 14px;
            list-style-type: disc; }
          .global-wrapper .main-content .main-content-wrapper .main-content-nav .main-content-nav-item .main-content-nav-subitems .main-content-nav-subitem .active-sub-item,
          .global-wrapper .main-content .main-content-wrapper .main-content-nav .main-content-nav-item .main-content-nav-subitems .main-content-nav-subitem .active-sub-item:visited {
            color: #010101;
            text-decoration: underline; }
      .global-wrapper .main-content .main-content-wrapper .main-content-nav .main-content-nav-price {
        padding-top: 110px;
        text-align: center; }
        .global-wrapper .main-content .main-content-wrapper .main-content-nav .main-content-nav-price p {
          color: #444444;
          font-size: 28px;
          font-weight: 700;
          line-height: 25px; }
      .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-items .main-content-item {
          background-color: #dcdcdc;
          margin-left: 20px;
          margin-bottom: 20px;
          max-width: 250px; }
          .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-items .main-content-item img {
            margin: 20px; }
          .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-items .main-content-item .main-content-item-text {
            color: #767676;
            padding: 0 20px 55px 20px;
            font-size: 18px;
            line-height: 18px; }
          .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-items .main-content-item .main-content-item-price {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            padding: 0 20px 14px 20px; }
            .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-items .main-content-item .main-content-item-price p {
              color: #444444;
              font-size: 28px;
              font-weight: 700;
              line-height: 18px; }
            .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-items .main-content-item .main-content-item-price img {
              margin: 0; }
      .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-paginator {
        margin-bottom: 67px; }
        .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-paginator ul {
          margin: 0;
          padding-top: 12px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-paginator .main-content-paginator-item {
          padding-top: 0;
          padding-right: 20px;
          list-style: none; }
          .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-paginator .main-content-paginator-item a {
            text-decoration: none;
            color: #767676; }
          .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-paginator .main-content-paginator-item .active {
            font-size: 18px;
            color: #444444; }
      .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .global-wrapper .main-content .main-content-wrapper .main-content-sub-wrapper .main-content-text .main-content-text-item {
          max-width: 48%;
          color: #767676; }
  .global-wrapper .main-carousel {
    width: 1248px;
    height: 400px;
    margin: 0 auto 30px auto; }
    .global-wrapper .main-carousel img {
      margin: 0 auto; }
  .global-wrapper .active-item:first-line {
    text-decoration: underline; }
  .global-wrapper .footer-container {
    background-color: #777777;
    padding: 50px 0; }
    .global-wrapper .footer-container .footer-container-section {
      width: 980px;
      margin: 0 auto;
      padding: 0 10px; }
      .global-wrapper .footer-container .footer-container-section .footer-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .global-wrapper .footer-container .footer-container-section .footer-wrapper .footer-item a, .global-wrapper .footer-container .footer-container-section .footer-wrapper p {
          text-decoration: none;
          color: #ffffff; }
        .global-wrapper .footer-container .footer-container-section .footer-wrapper .footer-nav-wrapper .footer-nav ul {
          list-style: none; }
        .global-wrapper .footer-container .footer-container-section .footer-wrapper .footer-nav-wrapper .footer-nav a {
          color: #ffffff; }
        .global-wrapper .footer-container .footer-container-section .footer-wrapper .footer-company img {
          float: left;
          width: 36px;
          height: 38px; }
        .global-wrapper .footer-container .footer-container-section .footer-wrapper .footer-company .footer-company-container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .global-wrapper .footer-container .footer-container-section .footer-wrapper .footer-company .footer-company-container p {
            padding-left: 10px;
            color: #ffffff; }
          .global-wrapper .footer-container .footer-container-section .footer-wrapper .footer-company .footer-company-container img {
            padding-top: 5px; }
  .global-wrapper #popup-form-wrapper:target {
    display: block; }
  .global-wrapper #popup-form-wrapper {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 286%;
    position: absolute;
    z-index: 9; }
    .global-wrapper #popup-form-wrapper .popup-form {
      background-color: #FFFFFF;
      width: 466px;
      height: 578px;
      position: absolute;
      z-index: 10;
      left: 39vw;
      top: 120px; }
      .global-wrapper #popup-form-wrapper .popup-form .popup-close {
        width: 27px;
        height: 27px;
        z-index: 10;
        content: '\00d7';
        text-align: center;
        line-height: 27px;
        vertical-align: middle;
        position: absolute;
        right: -27px;
        top: -27px;
        background-color: #777777; }
      .global-wrapper #popup-form-wrapper .popup-form .popup-content {
        padding: 35px 60px 60px; }
        .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items {
          color: #535353;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          text-align: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items label {
            margin-top: 20px; }
            .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items label:first-child {
              margin-top: 35px; }
          .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input {
            padding: 0 15px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            width: 340px;
            height: 40px; }
            .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] {
              -webkit-box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
                      box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
              border: 1px solid #ff8383;
              background-color: #ffffff; }
              .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] ::-webkit-input-placeholder {
                color: #dc7f7f;
                font-size: 14px;
                font-style: italic; }
              .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] ::-moz-placeholder {
                color: #dc7f7f;
                font-size: 14px;
                font-style: italic; }
              .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] :-ms-input-placeholder {
                color: #dc7f7f;
                font-size: 14px;
                font-style: italic; }
              .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] ::-ms-input-placeholder {
                color: #dc7f7f;
                font-size: 14px;
                font-style: italic; }
              .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] ::placeholder {
                color: #dc7f7f;
                font-size: 14px;
                font-style: italic; }
              .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] :focus::-webkit-input-placeholder {
                color: transparent; }
              .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] :focus::-moz-placeholder {
                color: transparent; }
              .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] :focus:-ms-input-placeholder {
                color: transparent; }
              .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] :focus::-ms-input-placeholder {
                color: transparent; }
              .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="email"] :focus::placeholder {
                color: transparent; }
            .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items input[type="submit"] {
              width: 128px;
              height: 42px;
              color: #ffffff;
              font-size: 18px;
              font-weight: 700;
              text-transform: uppercase;
              background-color: #777777;
              margin: 20px auto 0;
              padding: 0; }
          .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items textarea {
            width: 340px;
            height: 140px;
            padding: 0 15px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box; }
          .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items h3 {
            margin: 0; }
          .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items #email:focus::-webkit-input-placeholder {
            color: white; }
          .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items #email:focus::-moz-placeholder {
            color: white; }
          .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items #email:focus:-ms-input-placeholder {
            color: white; }
          .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items #email:focus::-ms-input-placeholder {
            color: white; }
          .global-wrapper #popup-form-wrapper .popup-form .popup-content .popup-form-items #email:focus::placeholder {
            color: white; }

.slider {
  position: relative;
  background-color: #f8f8f8; }
  .slider .slider-item {
    margin: 0 auto;
    height: 400px;
    width: 1248px;
    background: url(../img/slide-1.png) bottom;
    background-size: cover;
    -webkit-animation: slider 4s ease-in infinite alternate forwards;
            animation: slider 4s ease-in infinite alternate forwards; }
  .slider .prev, .slider .next {
    width: 32px;
    height: 61px;
    position: absolute;
    cursor: pointer; }
  .slider .prev {
    background: url("../img/left.png");
    top: 50%;
    left: 25%; }
  .slider .next {
    background: url("../img/right.png");
    top: 50%;
    right: 25%; }

@-webkit-keyframes slider {
  from {
    background: url(../img/slide-1.png) bottom; }
  50% {
    background: url(../img/slide.png) bottom;
    opacity: 0; }
  to {
    background: url(../img/slide-2.png) bottom; } }

@keyframes slider {
  from {
    background: url(../img/slide-1.png) bottom; }
  50% {
    background: url(../img/slide.png) bottom;
    opacity: 0; }
  to {
    background: url(../img/slide-2.png) bottom; } }

@media screen and (max-width: 1247px) {
  .main-carousel {
    width: 0;
    height: 0; }
  .prev, .next {
    display: none; } }
